In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import six

In [9]:
df2 = pd.read_csv("m11/result_v2.txt",header=None)
df3 = pd.read_csv("m11/result_v3.txt",header=None)
df4 = pd.read_csv("m11/result_v4.txt",header=None)
#result_v1 does not exist when monitor is a recursion monitor
try:
    df1 = pd.read_csv("m11/result_v1.txt",header=None)
    df1.columns = ["Time"]
except Exception:
    df1 = pd.DataFrame(columns=['Time'])

#df1.columns = ["Time"]
df2.columns = ["Time"]
df3.columns = ["Time"]
df4.columns = ["Time"]

In [10]:
df2

   Time
0  1.06
1  1.56
2  1.49
3  1.32
4  1.37
5  1.60
6  1.51
7  1.39
8  1.53
9  1.45

In [11]:
#remove outliers by removing anything which is > or < than the standard deviation (how spread data is around the mean)
df1_clean = df1[np.abs(df1.Time - df1.Time.mean()) <= (df1.Time.std())]
df2_clean = df2[np.abs(df2.Time - df2.Time.mean()) <= (df2.Time.std())]
df3_clean = df3[np.abs(df3.Time - df3.Time.mean()) <= (df3.Time.std())]
df4_clean = df4[np.abs(df4.Time - df4.Time.mean()) <= (df4.Time.std())]

In [12]:
df1_mean = df1_clean.Time.mean()
df2_mean = df2_clean.Time.mean()
df3_mean = df3_clean.Time.mean()
df4_mean = df4_clean.Time.mean()
df_result = pd.DataFrame(columns=["Naive","Optimised","Optimisation 1","Optimisation 2"])
df_result = df_result.append({"Naive":df1_mean,"Optimised":df2_mean,"Optimisation 1":df3_mean,"Optimisation 2":df4_mean},ignore_index=True)
df_result

      Naive  Optimised  Optimisation 1  Optimisation 2
0  2.473333     1.4525         2.07375        1.433333

In [13]:
# if file does not exist write header 
if not os.path.isfile('results.csv'):
    df_result.to_csv('results.csv', header='column_names',index=False)
else: # else it exists so append without writing the header
    df_result.to_csv('results.csv', mode='a', header=False,index=False)

In [11]:
#From here forward is only run once all the data has been collected and appended to results.csv

In [2]:
df_result = pd.read_csv("results.csv")

In [3]:
df_result

       Naive  Optimised  Optimisation 1  Optimisation 2
0        NaN   1.613333        1.656667        1.478000
1   0.887500   0.551250        0.641429        0.520000
2        NaN   0.592500        0.602857        0.545000
3   0.685000   0.422500        0.463750        0.433333
4   1.080000   0.753750        0.877143        0.701429
5   0.651250   0.400000        0.462857        0.400000
6   1.946000   1.111250        1.308333        1.227500
7   2.568750   1.686250        1.900000        1.671111
8   5.700000   3.697143        5.244000        2.795000
9        NaN   2.440000        2.592000        2.095000
10  2.473333   1.452500        2.073750        1.433333

In [4]:
df_result = df_result.round(3)
df_result = df_result.transpose()
df_result.columns = ['m1','m2','m3','m4','m5','m6','m7','m8','m9','m10','m11']
#df_result[np.isnan(df_result)]="NaN"

In [26]:
df_result
df_result.to_csv("results_final.csv",float_format='%.3f',na_rep='NaN')